<!-- <app-progress-bar *ngIf="loading"></app-progress-bar> -->
<!-- el progressbar todavia no está implementado, dejarlo comentado -->

<div *ngIf="!loading" class="container">
  <div class="title">
    <h4>Listado de Ordenes</h4>
    <button type="button" class="btn btn-primary" routerLink="/add">Agregar Orden</button>
  </div>

  <table *ngIf="listOrderDetails.length > 0">
    <thead>
      <tr>
        <th scope="col">Cliente</th>
        <th scope="col">Fecha Pedido</th>
        <th scope="col">Producto</th>

        <th scope="col">OPrecio</th>
        <th scope="col">Descuento</th>
        <th scope="col">Stock</th>
        <th scope="col">Descripción</th>
        <th scope="col">UPrecio</th>

        <th scope="col">Cantidad</th>
        <th scope="col">Total de pedido</th>
        <th scope="col">Estado</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listOrderDetails">
        <td>   |  {{ item.order.customer.name }} {{ item.order.customer.lastname }} </td>
        <td>   |  {{ item.order.order_date }}</td>
        <td>   |  {{ item.product.name }}</td>
        <td>   |  {{ item.product.price }}</td>
        <td>   |  {{ item.product.discount_price }}</td>
        <td>   |  {{ item.product.stock}}</td>
        <td>   |  {{ item.product.description }}</td>
        <td>   |  {{ item.unit_price }}</td>
        <td>   |  {{ item.quantity }}</td>
        <td>   |  {{ item.order.total_price }}</td>
        <td>   |   
          <select [(ngModel)]="item.order.status">
            <option> Pendiente </option>
            <option> Enviado </option>
            <option> Completado </option>
          </select>
        <td>
          <!-- <button routerLink="/edit/{{ item.id }}" type="button" class="btn btn-info btn-sm">Edit</button> --> -->
          <button (click)="deleteOrderDetail(item.order.id!)" type="button"
            class="btn btn-secondary btn-sm ms-2">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <h5 *ngIf="listOrderDetails.length == 0">No hay ordenes para mostrar</h5>
</div>