<footer class="py-4"  >
    <div class="flex w-full flex-wrap items-center justify-center gap-6 px-2 md:justify-between">
      <p class="block antialiased font-sans text-sm leading-normal font-normal text-inherit">Copyright © 2025 by <a href="https://www.utm.edu.ec/" target="_blank" class="transition-colors hover:text-blue-500">Universidad Técnica de Manabí</a></p>
      <ul class="flex items-center gap-4">
        <li>
          <a href="https://www.google.com" target="_blank" class="block antialiased font-sans text-sm leading-normal py-0.5 px-1 font-normal text-inherit transition-colors hover:text-blue-500">Política de privacidad</a> <!-- Indefinido -->
        </li>
        <li>
          <a href="https://www.google.com" target="_blank" class="block antialiased font-sans text-sm leading-normal py-0.5 px-1 font-normal text-inherit transition-colors hover:text-blue-500">Mapa del lugar</a> <!-- Indefinido -->
        </li>
        <li>
          <a href="https://www.google.com" target="_blank" class="block antialiased font-sans text-sm leading-normal py-0.5 px-1 font-normal text-inherit transition-colors hover:text-blue-500">Contáctanos</a> <!-- Indefinido -->
        </li>
        <li>
          <a href="https://www.google.com" target="_blank" class="block antialiased font-sans text-sm leading-normal py-0.5 px-1 font-normal text-inherit transition-colors hover:text-blue-500">Licencias</a> <!-- Indefinido -->
        </li>
      </ul>
    </div>
  </footer>